@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Mukta', sans-serif; }

.obraFondoimagen {
  width: 100%;
  opacity: 0.8;
  height: 300px; }

.navegacionFondocaja {
  opacity: 0.8;
  background-color: #336699;
  top: 0px;
  position: absolute;
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end; }
  .navegacionFondocaja .logoVirablanco {
    position: absolute;
    left: 15px;
    top: 25px;
    width: 170px;
    height: 100px;
    display: inline-block; }
  .navegacionFondocaja nav {
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block; }
    .navegacionFondocaja nav li {
      width: 130px;
      display: inline-block;
      text-align: center; }
      .navegacionFondocaja nav li .navegador {
        font-size: 15px;
        color: white;
        font-style: normal;
        transition: 0.5s all; }

.teAcompañamoscaja {
  background-color: #6185c1;
  opacity: 0.8;
  height: 40px;
  width: 290px;
  position: absolute;
  top: 230px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .teAcompañamoscaja .teAcompañamos {
    color: white;
    font-style: normal;
    font-size: 14px; }

.footer {
  opacity: 0.8;
  background-color: #336699;
  height: 180px; }
  .footer .logoVirafooter {
    width: 170px;
    height: 100px;
    position: absolute;
    margin-left: 20px;
    margin-top: 25px; }
  .footer .redesSociales {
    text-align: left;
    height: 100px;
    width: 200px;
    position: relative;
    top: 25px;
    margin: auto;
    display: inline-block;
    left: 300px;
    border-top: solid 3px white;
    border-bottom: solid 3px white; }
    .footer .redesSociales .leyendaRedes {
      display: inline-block;
      font-size: 20px;
      color: white;
      font-style: normal;
      margin-top: 10px; }
    .footer .redesSociales .cajaInstagram {
      display: flex;
      align-items: center;
      width: 200px;
      padding-top: 5px; }
      .footer .redesSociales .cajaInstagram .logoInstagram {
        width: 20px;
        height: 20px;
        display: inline-block; }
      .footer .redesSociales .cajaInstagram .enlaceInstagram {
        margin-left: 10px;
        font-style: normal;
        color: white;
        display: inline-block; }
    .footer .redesSociales .cajaFacebook {
      display: flex;
      align-items: center;
      width: 200px;
      padding-top: 5px; }
      .footer .redesSociales .cajaFacebook .logoFacebook {
        width: 20px;
        height: 20px;
        display: inline-block; }
      .footer .redesSociales .cajaFacebook .enlaceFacebook {
        margin-left: 10px;
        font-style: normal;
        color: white;
        display: inline-block; }
  .footer .leyendaFooter {
    font-style: normal;
    color: white;
    height: 20px;
    font-size: 10px;
    text-align: right;
    position: relative;
    right: 40px;
    bottom: -50px; }

/* MAIN */
.logoVira {
  height: 200px;
  width: 270px;
  margin: auto;
  position: relative;
  display: block; }

.tituloAcercade {
  margin-top: 50px;
  text-align: center;
  color: #336699;
  font-style: normal;
  font-size: 20px;
  height: 50px; }

.somosunaEmpresa {
  font-style: normal;
  font-size: 18px;
  color: #6185c1;
  font-style: oblique;
  text-align: center;
  display: block;
  position: relative;
  width: 50%;
  margin: auto; }

/*INDEX A*/
.indexA {
  margin-top: 80px;
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 8% 30% 4% 50% 8%;
  grid-template-areas: ". ia2 . ia4 ."; }
  .indexA .cajaMision {
    width: 100%;
    height: 300px;
    grid-area: ia2; }
    .indexA .cajaMision .misionVira {
      text-align: left;
      color: #336699;
      font-style: normal;
      font-size: 20px;
      height: 50px;
      border-top: solid 5px #336699; }
    .indexA .cajaMision .proporcionarEl {
      text-align: left;
      color: #6185c1;
      font-style: normal;
      font-size: 17px;
      height: 240px;
      border-bottom: solid 5px #6185c1; }
  .indexA .estamosEspecialmente {
    background-color: #336699;
    color: white;
    column-count: 2;
    column-gap: 5%;
    text-align: left;
    height: 80%;
    width: 91%;
    grid-area: ia4;
    padding: 30px;
    font-size: 15px; }

.nuestrasAreas {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  color: #336699;
  font-style: normal;
  font-size: 20px;
  height: 50px; }

/*INDEX B*/
.indexB {
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 50% 40%;
  grid-template-areas: "ib2 ib3";
  justify-content: center; }
  .indexB .cajaTecnica {
    width: 100%;
    height: 300px;
    grid-area: ib2;
    background-color: #e4e4e4; }
    .indexB .cajaTecnica .oficinaTecnica {
      padding-left: 55px;
      text-align: left;
      color: #336699;
      font-style: normal;
      font-size: 20px;
      height: 50px; }
    .indexB .cajaTecnica .leyendaOficina {
      text-align: left;
      color: #6185c1;
      font-style: normal;
      font-size: 20px;
      height: 250px;
      padding: 30px 55px 30px 55px;
      grid-area: ib2; }
  .indexB .oficinaTecnicaimg {
    grid-area: ib3;
    height: 100%; }

/*INDEX C*/
.indexC {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: 50% 40%;
  grid-template-areas: "ic2 ic3";
  justify-content: center;
  margin-bottom: 50px; }
  .indexC .cajaObra {
    width: 100%;
    height: 400px;
    grid-area: ic2;
    background-color: #e4e4e4; }
    .indexC .cajaObra .ejecucionObra {
      padding-left: 55px;
      text-align: left;
      color: #336699;
      font-style: normal;
      font-size: 20px;
      height: 50px; }
    .indexC .cajaObra .leyendaObra {
      text-align: left;
      color: #6185c1;
      font-style: normal;
      font-size: 20px;
      height: 300px;
      padding: 30px 55px 30px 55px;
      grid-area: ic2; }
  .indexC .ejecucionObraimg {
    grid-area: ic3;
    height: 100%; }

/*MAIN*/
.tituloServicios {
  margin-top: 50px;
  text-align: center;
  color: #336699;
  font-style: normal;
  font-size: 20px;
  height: 50px; }

/*SERVICIOS A*/
.serviciosA {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: 40% 50%;
  grid-template-areas: "sa2 sa3";
  justify-content: center;
  margin-bottom: 50px; }
  .serviciosA .imagenResidenciales {
    grid-area: sa2;
    height: 100%; }
  .serviciosA .cajaResidenciales {
    width: 100%;
    height: 400px;
    grid-area: sa3;
    background-color: #aaaaaa; }
    .serviciosA .cajaResidenciales .tituloResidenciales {
      padding-top: 30px;
      text-align: center;
      color: white;
      font-style: normal;
      font-size: 20px;
      height: 50px;
      border-bottom: solid 5px white; }
    .serviciosA .cajaResidenciales .leyendaResidenciales {
      text-align: left;
      color: white;
      font-style: normal;
      font-size: 18px;
      height: 300px;
      padding: 30px 55px 30px 55px;
      grid-area: sa3; }

/*SERVICIOS B*/
.serviciosB {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: 40% 50%;
  grid-template-areas: "sa3 sa2";
  justify-content: center;
  margin-bottom: 50px; }
  .serviciosB .imagenDesarrollos {
    grid-area: sa3;
    height: 100%; }
  .serviciosB .cajaDesarrollos {
    width: 100%;
    height: 400px;
    grid-area: sa2;
    background-color: #aaaaaa; }
    .serviciosB .cajaDesarrollos .tituloDesarrollos {
      padding-top: 30px;
      text-align: center;
      color: white;
      font-style: normal;
      font-size: 20px;
      height: 50px;
      border-bottom: solid 5px white; }
    .serviciosB .cajaDesarrollos .leyendaDesarrollos {
      text-align: left;
      color: white;
      font-style: normal;
      font-size: 18px;
      height: 300px;
      padding: 30px 55px 30px 55px;
      grid-area: sa2; }

/*MAIN*/
.tituloGaleria {
  margin-top: 50px;
  text-align: center;
  color: #336699;
  font-style: normal;
  font-size: 20px;
  height: 50px; }

.galeria {
  display: grid;
  grid-template-rows: 450px 50px 450px 50px;
  grid-template-columns: 6.5% 40% 6.5% 40% 6.5%;
  grid-template-areas: ". ga1 . ga2 . " ".  .  .  .  . " ". ga3 . ga4 . " ".  .  .  .  . ";
  justify-content: center;
  /*GALERIA A*/
  /*GALERIA B*/
  /*GALERIA C*/
  /*GALERIA D*/ }
  .galeria .proyectosNexus {
    grid-area: ga1;
    display: grid;
    grid-template-rows: 50px 400px;
    grid-template-columns: 100%;
    grid-template-areas: "title1" "img1";
    justify-content: center; }
    .galeria .proyectosNexus .leyendaNexus {
      grid-area: title1;
      width: 100%;
      height: 30px;
      text-align: center;
      color: black;
      font-style: normal;
      font-weight: bolder;
      font-size: 20px;
      border-bottom: solid 2px black; }
    .galeria .proyectosNexus .imagenesNexus {
      grid-area: img1;
      width: 100%; }
  .galeria .proyectosColon {
    grid-area: ga2;
    display: grid;
    grid-template-rows: 50px 400px;
    grid-template-columns: 100%;
    grid-template-areas: "title2" "img2";
    justify-content: center; }
    .galeria .proyectosColon .leyendaColon {
      grid-area: title2;
      width: 100%;
      height: 30px;
      text-align: center;
      color: black;
      font-style: normal;
      font-weight: bolder;
      font-size: 20px;
      border-bottom: solid 2px black; }
    .galeria .proyectosColon .imagenesColon {
      grid-area: img2;
      width: 100%; }
  .galeria .proyectosDedalo {
    grid-area: ga3;
    display: grid;
    grid-template-rows: 50px 400px;
    grid-template-columns: 100%;
    grid-template-areas: "title3" "img3";
    justify-content: center; }
    .galeria .proyectosDedalo .leyendaDedalo {
      grid-area: title3;
      width: 100%;
      height: 30px;
      text-align: center;
      color: black;
      font-style: normal;
      font-weight: bolder;
      font-size: 20px;
      border-bottom: solid 2px black; }
    .galeria .proyectosDedalo .imagenesDedalo {
      grid-area: img3;
      width: 100%; }
  .galeria .proyectosLangostinos {
    grid-area: ga4;
    display: grid;
    grid-template-rows: 50px 400px;
    grid-template-columns: 100%;
    grid-template-areas: "title4" "img4";
    justify-content: center; }
    .galeria .proyectosLangostinos .leyendaLangostinos {
      grid-area: title4;
      width: 100%;
      height: 30px;
      text-align: center;
      color: black;
      font-style: normal;
      font-weight: bolder;
      font-size: 20px;
      border-bottom: solid 2px black; }
    .galeria .proyectosLangostinos .imagenesLangostinos {
      grid-area: img4;
      width: 100%; }

/*MAIN*/
.tituloContacto {
  margin-top: 50px;
  text-align: center;
  color: #336699;
  font-style: normal;
  font-size: 20px;
  height: 50px; }

/*FORM*/
.formContacto {
  opacity: 0.6;
  margin: auto;
  width: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 50px 50px 50px 30px;
  grid-template-areas: "area1 area2" "area3 area2" "area4 area2" "area5 area2" "area6 area6"; }
  .formContacto .nombre {
    grid-area: area1;
    border: 0.5px solid black; }
  .formContacto .email {
    grid-area: area3;
    border: 0.5px solid black; }
  .formContacto .empresa {
    grid-area: area4;
    border: 0.5px solid black; }
  .formContacto .telefono {
    grid-area: area5;
    border: 0.5px solid black; }
  .formContacto .mensaje {
    grid-area: area2;
    border: 0.5px solid black; }
  .formContacto .enviar {
    grid-area: area6;
    border: 0.5px solid black; }

/*UBICACION*/
.tituloEncontranos {
  margin-top: 50px;
  text-align: center;
  color: #336699;
  font-style: normal;
  font-size: 20px;
  height: 50px; }

.cajaUbicacion {
  text-align: center;
  margin: auto;
  display: grid;
  width: 60%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 20px auto 20px;
  grid-template-areas: ".    .      ." ". ubicacion ." ".    .      ."; }
  .cajaUbicacion .ubicacion {
    grid-area: ubicacion;
    width: 100%; }

/*RRHH*/
.tituloTrabajo {
  margin-top: 50px;
  text-align: center;
  color: #336699;
  font-style: normal;
  font-size: 20px;
  height: 50px; }

.leyendaTrabajo {
  font-style: normal;
  font-size: 18px;
  color: #6185c1;
  font-style: oblique;
  text-align: center;
  display: block;
  position: relative;
  width: 50%;
  margin: auto; }

/*RRHH FORM*/
.formCaja {
  margin-top: 50px;
  margin-bottom: 200px; }
  .formCaja .formEmpleo {
    opacity: 0.6;
    margin: auto;
    width: 60%;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 30px 30px 30px 30px 50px 30px;
    grid-template-areas: "area1 area2 area2" "area3 area2 area2" "area4 area2 area2" "area5 area2 area2" "area6 area7 area9" "area8 area8 area8"; }
    .formCaja .formEmpleo .nombreEmpleo {
      grid-area: area1;
      border: 0.5px solid black; }
    .formCaja .formEmpleo .emailEmpleo {
      grid-area: area3;
      border: 0.5px solid black; }
    .formCaja .formEmpleo .edadEmpleo {
      grid-area: area4;
      border: 0.5px solid black; }
    .formCaja .formEmpleo .estudiosEmpleo {
      grid-area: area5;
      border: 0.5px solid black; }
    .formCaja .formEmpleo .preguntaEmpleo {
      grid-area: area6;
      border: 0.5px solid black; }
    .formCaja .formEmpleo .si {
      grid-area: area7; }
    .formCaja .formEmpleo .no {
      grid-area: area9; }
    .formCaja .formEmpleo .mensajeEmpleo {
      grid-area: area2;
      border: 0.5px solid black; }
    .formCaja .formEmpleo .enviarEmpleo {
      grid-area: area8;
      border: 0.5px solid black; }

@media screen and (max-width: 1250px) {
  /*INDEX A*/
  .indexA {
    margin-top: 80px;
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: ". ia2 ." ". ia4 ."; }
    .indexA .proporcionarEl {
      margin-top: 0px;
      height: 200px;
      width: 100%; }
    .indexA .estamosEspecialmente {
      margin-top: 0px;
      font-size: 13px;
      width: 95%; }
  /*INDEX B*/
  .indexB {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 50% 40%;
    grid-template-areas: "ib2 ib3";
    justify-content: center; }
    .indexB .cajaTecnica {
      width: 100%;
      height: 300px;
      grid-area: ib2;
      background-color: #e4e4e4; }
      .indexB .cajaTecnica .leyendaOficina {
        text-align: left;
        color: #6185c1;
        font-style: normal;
        font-size: 18px;
        height: 250px;
        padding: 15px 15px 15px 15px;
        grid-area: ib2; }
    .indexB .oficinaTecnicaimg {
      grid-area: ib3;
      height: 100%; }
  /*INDEX C*/
  .indexC {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 50% 40%;
    grid-template-areas: "ic2 ic3";
    justify-content: center; }
    .indexC .cajaObra {
      width: 100%;
      height: 300px;
      grid-area: ic2;
      background-color: #e4e4e4; }
      .indexC .cajaObra .leyendaObra {
        text-align: left;
        color: #6185c1;
        font-style: normal;
        font-size: 18px;
        height: 250px;
        padding: 15px 15px 15px 15px;
        grid-area: ic2; }
    .indexC .ejecucionObraimg {
      grid-area: ic3;
      height: 100%; }
  /*SERVICIOS A*/
  .tituloResidenciales {
    font-size: 17px; }
  .leyendaResidenciales {
    font-size: 16px;
    padding: 10px 20px 10px 20px; }
  .tituloDesarrollos {
    font-size: 17px; }
  .leyendaDesarrollos {
    font-size: 16px;
    padding: 10px 20px 10px 20px; } }

@media screen and (max-width: 992px) {
  /*HEADER*/
  li {
    width: 100px; }
  /*INDEX*/
  .somosunaEmpresa {
    width: 70%; }
  /*INDEX A*/
  .indexA {
    grid-template-columns: 10% 80% 10%; }
  /*INDEX B*/
  .indexB {
    display: grid;
    grid-template-rows: 255px;
    grid-template-columns: 5% 40% 35% 20%;
    grid-template-areas: ". ib2 ib3 .";
    justify-content: center; }
    .indexB .cajaTecnica {
      width: 100%;
      height: 255px;
      grid-area: ib2; }
      .indexB .cajaTecnica .oficinaTecnica {
        padding-left: 15px;
        text-align: left;
        font-size: 15px;
        height: 20px; }
      .indexB .cajaTecnica .leyendaOficina {
        font-size: 13px;
        height: 230px;
        padding: 15px 15px 15px 15px;
        grid-area: ib2; }
    .indexB .oficinaTecnicaimg {
      grid-area: ib3;
      height: 100%; }
  /*MEDIA INDEX C*/
  .indexC {
    grid-template-rows: 255px;
    grid-template-columns: 5% 40% 35% 20%;
    grid-template-areas: ". ic2 ic3 ."; }
    .indexC .cajaObra {
      width: 100%;
      height: 255px;
      grid-area: ic2; }
      .indexC .cajaObra .ejecucionObra {
        padding-left: 15px;
        font-size: 15px;
        height: 20px; }
      .indexC .cajaObra .leyendaObra {
        font-size: 13px;
        height: 230px;
        padding: 15px 15px 15px 15px;
        grid-area: ic2; }
    .indexC .ejecucionObraimg {
      grid-area: ic3;
      height: 100%; } }

@media screen and (max-width: 750px) {
  /*INDEX A*/
  .indexA {
    margin-top: 80px;
    display: grid;
    grid-template-rows: 300px 350px;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: "ia1 ia2 ia3" "ia1 ia4 ia3"; }
    .indexA .estamosEspecialmente {
      padding: 10px;
      width: 95%;
      height: 350px; }
  /*SERVICIOS A*/
  .leyendaResidenciales {
    padding: 15px 15px 15px 15px;
    font-size: 15px; }
  .leyendaDesarrollos {
    padding: 15px 15px 15px 15px;
    font-size: 15px; }
  /*GALERIA*/
  .galeria {
    grid-template-rows: 450px 50px 450px 50px 450px 50px 450px 50px;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". ga1 ." ".  .  ." ". ga2 ." ".  .  ." ". ga3 ." ".  .  ." ". ga4 ." ".  .  ."; } }

@media screen and (max-width: 600px) {
  /*MEDIA HEADER*/
  li {
    width: 80px; }
  /*MEDIA FOOTER*/
  .redesSociales {
    left: 230px; }
  .leyendaFooter {
    font-size: 8px; }
  /*MEDIA INDEX A*/
  .indexA {
    grid-template-rows: 400px; }
    .indexA .proporcionarEl {
      height: 250px; }
  /*MEDIA INDEX B*/
  .indexB {
    display: grid;
    grid-template-rows: 250px 250PX;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". ib2 ." ". ib3 ."; }
    .indexB .cajaTecnica {
      width: 100%;
      height: 255px;
      grid-area: ib2; }
      .indexB .cajaTecnica .oficinaTecnica {
        padding-left: 15px;
        text-align: left;
        font-size: 15px;
        height: 20px; }
      .indexB .cajaTecnica .leyendaOficina {
        font-size: 13px;
        height: 230px;
        padding: 25px 15px 15px 15px;
        grid-area: ib2; }
    .indexB .oficinaTecnicaimg {
      grid-area: ib3;
      width: 100%; }
  /*MEDIA INDEX C*/
  .indexC {
    grid-template-rows: 250px 250PX;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". ic2 ." ". ic3 ."; }
    .indexC .cajaObra {
      width: 100%;
      height: 255px;
      grid-area: ic2; }
      .indexC .cajaObra .ejecucionObra {
        padding-left: 15px;
        font-size: 15px;
        height: 20px; }
      .indexC .cajaObra .leyendaObra {
        font-size: 13px;
        height: 230px;
        padding: 25px 15px 15px 15px;
        grid-area: ic2; }
    .indexC .ejecucionObraimg {
      grid-area: ic3;
      width: 100%; }
  /*MEDIA SERVICIOS A*/
  .serviciosA {
    grid-template-rows: 350px 300px;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: ". sa3 ." ". sa2. "; }
    .serviciosA .imagenResidenciales {
      grid-area: sa2;
      height: auto;
      width: 100%; }
    .serviciosA .cajaResidenciales {
      width: 100%;
      height: 350px;
      grid-area: sa3; }
      .serviciosA .cajaResidenciales .leyendaResidenciales {
        font-size: 14px;
        height: 180px;
        padding: 20px 20px 20px 20px;
        grid-area: sa3; }
  /*SERVICIOS B*/
  .serviciosB {
    grid-template-rows: 400px 300px;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: ". sa3 ." ". sa2. "; }
    .serviciosB .imagenDesarrollos {
      grid-area: sa2;
      height: auto;
      width: 100%; }
    .serviciosB .cajaDesarrollos {
      width: 100%;
      height: 400px;
      grid-area: sa3; }
      .serviciosB .cajaDesarrollos .leyendaDesarrollos {
        font-size: 14px;
        height: 180px;
        padding: 20px 20px 20px 20px;
        grid-area: sa3; } }

@media screen and (max-width: 485px) {
  nav {
    margin-right: 10px; }
    nav li {
      width: 70px; }
      nav li .navegador {
        font-size: 14px; }
  /*MEDIA INDEX A*/
  .indexA {
    grid-template-columns: 10% 80% 10%; }
    .indexA .estamosEspecialmente {
      height: 400px;
      column-count: 1;
      column-gap: 0%; }
  /*MEDIA FOOTER*/
  .footer {
    display: grid;
    opacity: 0.8;
    background-color: #336699;
    height: 180px;
    grid-template-rows: 70% 30%;
    grid-template-columns: 40% 60%;
    grid-template-areas: " logo    redes" "leyenda leyenda"; }
    .footer .logoVirafooter {
      position: static;
      width: 90%;
      height: auto;
      margin: auto;
      grid-area: logo; }
    .footer .redesSociales {
      text-align: left;
      width: 90%;
      height: 100px;
      position: static;
      top: 0px;
      margin: auto;
      display: inline-block;
      left: 0px;
      border-top: solid 3px white;
      border-bottom: solid 3px white;
      grid-area: redes; }
    .footer .leyendaFooter {
      margin-top: 10px;
      font-style: normal;
      color: white;
      height: 20px;
      font-size: 7px;
      text-align: center;
      position: static;
      right: 0px;
      bottom: 0px;
      grid-area: leyenda; } }

/*ANIMACIONES*/
.navegadorhover {
  font-size: 16px; }

.logoInstagramhover {
  transform: scale(1.5, 1.5); }

.logoFacebookhover {
  transform: scale(1.5, 1.5); }

.imagenesNexushover {
  transform: scale(1.05, 1.05); }

.imagenesColonhover {
  transform: scale(1.05, 1.05); }

.imagenesDedalohover {
  transform: scale(1.05, 1.05); }

.imagenesLangostinoshover {
  transform: scale(1.05, 1.05); }
