@media screen and (max-width: 485px){

    .navegacionFondocaja{

        nav{
            margin-right: 10px;

            li {
                width: 60px;

                .navegador{
                    font-size: 13px;
                }
            }   
        }
    }

    /*MEDIA INDEX A*/

    .indexA{
        grid-template-columns: 10% 80% 10%;

        .estamosEspecialmente {
            height: 400px;
            column-count: 1;
            column-gap: 0%;
            
        }
    }

    /*MEDIA FOOTER*/

    .footer {
        display: grid;
        opacity: 0.8;
        background-color: rgb(51, 102, 153);
        height: 180px;
        grid-template-rows: 70% 30%;
        grid-template-columns: 40% 60%;
        grid-template-areas: " logo    redes"
                             "leyenda leyenda";

        .logoVirafooter {
            position: static;
            width: 90%;
            height: auto;
            margin: auto;
            grid-area: logo;
        } 
        .redesSociales {
            text-align: left;
            width: 90%;
            height: 100px;
            position: static;
            top: 0px;
            margin: auto;
            display: inline-block;
            left: 0px;
            border-top: solid 3px white;
            border-bottom: solid 3px white;
            grid-area: redes;
        }   
        .leyendaFooter {
            margin-top: 10px;
            font-style: normal;
            color: white;
            height: 20px;
            font-size: 7px;
            text-align: center;
            position: static;
            right: 0px;
            bottom: 0px;
            grid-area: leyenda;
        }              
    }

    /*SERVICIOS A*/

    .serviciosA{
        grid-template-rows: 350px 300px;
        grid-template-columns: 10% 80% 10%;
        grid-template-areas:  ". sa3 ."
                              ". sa2. ";

        .imagenResidenciales{
            grid-area: sa2;
            height: auto;
            width: 100%;
        }
        .cajaResidenciales{
            width: 100%;
            height: 350px;
            grid-area: sa3;

            .leyendaResidenciales{
                font-size: 14px;
                height: 230px;
                padding: 20px 20px 20px 20px;
                grid-area: sa3;
            }
        }
    }

    /*SERVICIOS B*/

    .serviciosB{
        grid-template-rows: 400px 300px;
        grid-template-columns: 10% 80% 10%;
        grid-template-areas:  ". sa3 ."
                              ". sa2. ";

        .imagenDesarrollos{
            grid-area: sa2;
            height: auto;
            width: 100%;
        }                 
        .cajaDesarrollos{
            width: 100%;
            height: 400px;
            grid-area: sa3;

            .leyendaDesarrollos{
                font-size: 14px;
                height: 250px;
                padding: 20px 20px 20px 20px;
                grid-area: sa3;
            } 
        }                      
    }

    /*CONTACTO FORM*/

    .formContacto {
        grid-template-columns: 100%;
        grid-template-rows: 50px 50px 50px 50px 110px 30px;
        grid-template-areas: "area1"
                             "area3"
                             "area4"
                             "area5"
                             "area2"
                             "area6";
    }

    /*RRHH*/

    .leyendaTrabajo{
        font-size: 15px;
        width: 80%;
    }
    .formCaja {
        .formEmpleo {
            width: 80%;
            grid-template-rows: 30px 30px 30px 30px 50px 100px 30px;
            grid-template-areas: "area1 area1 area1"
                                 "area3 area3 area3"
                                 "area4 area4 area4"
                                 "area5 area5 area5"
                                 "area6 area7 area9"
                                 "area2 area2 area2"
                                 "area8 area8 area8";                                                           
            .preguntaEmpleo {
                text-align: center;
                font-size: 12px;
                grid-area: area6;
                align-self: center;
            }                    
            .si {   
                align-self: center;               
            }
            .no{
                align-self: center;
            }                      
        }
    }
}