  /*VARIABLES*/

$colorFuerte:rgb(51, 102, 153);
$colorSuave:rgb(97, 133, 193);
$fondoFuerte: rgb(170, 170, 170);
$fondoSuave:rgb(228, 228, 228);

  
  /*MAIN*/

.tituloServicios{
    margin-top: 50px;
    text-align: center;
    color: $colorFuerte;
    font-style: normal;
    font-size: 20px;
    height: 50px;
}

    /*SERVICIOS A*/

.serviciosA{
    margin-top: 50px;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 40% 50%;
    grid-template-areas: "sa2 sa3";
    justify-content: center;
    margin-bottom: 0px;

    .imagenResidenciales{
        grid-area: sa2;
        height: 100%;
    }
    .cajaResidenciales{
        width: 100%;
        height: 400px;
        grid-area: sa3;
        background-color: $fondoFuerte;
        overflow-y: hidden;

        .tituloResidenciales{
            padding-top: 30px;
            text-align: center;
            color: white;
            font-style: normal;
            font-size: 20px;
            height: 50px;
            border-bottom: solid 5px white;
        }
             
        .leyendaResidenciales{
            text-align: left;
            color: white;
            font-style: normal;
            font-size: 18px;
            height: 300px;
            padding: 30px 55px 30px 55px;
            grid-area: sa3;
        }
    }
}

    /*SERVICIOS B*/

.serviciosB{
    margin-top: 30px;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 40% 50%;
    grid-template-areas: "sa3 sa2";
    justify-content: center;
    margin-bottom: 50px;

    .imagenDesarrollos{
        grid-area: sa3;
        height: 100%;
    }    
    .cajaDesarrollos{
        width: 100%;
        height: 400px;
        grid-area: sa2;
        background-color: $fondoFuerte;
        overflow-y: hidden;

        .tituloDesarrollos{
            padding-top: 30px;
            text-align: center;
            color: white;
            font-style: normal;
            font-size: 20px;
            height: 50px;
            border-bottom: solid 5px white;
        }        
        .leyendaDesarrollos{
            text-align: left;
            color: white;
            font-style: normal;
            font-size: 18px;
            height: 300px;
            padding: 30px 55px 30px 55px;
            grid-area: sa2;
        }
    }
}